.chat{
    min-height: 100vh;
    /* background: linear-gradient(rgb(145, 246, 145),rgb(77, 150, 77)); */
    background-image: url('../../assets/bgImg.jpg');
    /* background-size: cover; */
    display: grid;
    place-items: center;
}

.chat-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 80%;
    height: 85vh;
    background-color: aliceblue;
}