.chat{
    min-height: 100vh;
    /* background: linear-gradient(rgb(145, 246, 145),rgb(77, 150, 77)); */
    background-image: url('../../assets/bgImg.jpg');
    /* background-size: cover; */
    display: grid;
    place-items: center;
}

.chat-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 80%;
    height: 85vh;
    background-color: aliceblue;
}

.loading {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }