.rs{
    background-color: #001030;
    color: white;
    overflow-y: scroll;
    height: 85vh;
    position: relative;

}
.rs-profile{
    padding-top: 60px;
    text-align: center;
    max-width: 70%;
    margin: auto;
}

.rs-profile img{
    width: 110px;
    border-radius: 50%;
    aspect-ratio: 1/1;
}
.rs-profile h3{
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 5px 0px;
}

.rs-profile p{
    font-size: 11px;
    opacity: 80%;
    font-weight: 300;
} 
.rs-profile .back{
    display: none;
}

.rs hr{
    border-color: gray;
    margin: 15px 14px;
}

.rs-media{
    text-align: center;
    padding: 0px 20px;
    font-size: 14px;
}

.rs-media div{
    max-height: 180px;
    overflow-x: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    margin-top: 8px;

}

.rs-media div img{
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    margin: 10px 10px;
}

.rs button{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 65px;
    color: white;
    background-color: #075e54;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 300;
    cursor: pointer;
    border: none;
    outline: none;
}


@media (max-width : 900px){
    .rs{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .rs-media{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-bottom: auto;

    }
    .rs-media div{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
    }
    .rs-profile .back{
        display: flex;
        justify-content: center;
        padding-top: 10px;
        color: rgba(19, 193, 54, 0.797);
    }
}